* {
    margin: 0;
    padding: 0;
}

.App {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #F4F4F4;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../shared/Fonts/Inter-Bold.otf');
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../../shared/Fonts/Inter-Regular.otf');
}

@font-face {
    font-family: 'Manrope-Bold';
    src: url('../../shared/Fonts/Manrope-Bold.ttf');
}

@font-face {
    font-family: 'Manrope-ExtraBold';
    src: url('../../shared/Fonts/Manrope-ExtraBold.ttf');
}

@font-face {
    font-family: 'Manrope-ExtraLight';
    src: url('../../shared/Fonts/Manrope-ExtraLight.ttf');
}

@font-face {
    font-family: 'Manrope-Light';
    src: url('../../shared/Fonts/Manrope-Light.ttf');
}

@font-face {
    font-family: 'Manrope-Medium';
    src: url('../../shared/Fonts/Manrope-Medium.ttf');
}

@font-face {
    font-family: 'Manrope-Regular';
    src: url('../../shared/Fonts/Manrope-Regular.ttf');
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url('../../shared/Fonts/Manrope-SemiBold.ttf');
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}